/* Sowing calendar */
/* * { outline: 1px solid red; } */

.vs-calendar.summary {
	min-width: fit-content;
}

.sowing-calendar, .sowing-calendar * {
	all: revert;
	text-align: left;
	color: grey;
}
.sowing-calendar {
	border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.sowing-calendar thead th {
	background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    /* text-shadow: 1px 1px 1px #fff; */
}
.sowing-calendar tbody td {
	border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
}
.sowing-calendar tbody td:nth-child(even) {
	border-right: none;
}
.sowing-calendar tbody td:nth-child(odd) {
	border-left: none;
}
.vs-calendar table.sowing-calendar tr td.highlight {
	border-left-color: rgba(0,0,0,.05);
	border-right-color: rgba(0,0,0,.1);
}
.vs-calendar table.sowing-calendar tr td.highlight:hover {
	filter: brightness(110%);
}
.vs-calendar table.sowing-calendar tr td.highlight-sow {
	background: rgb(253, 238, 28);
}
.vs-calendar table.sowing-calendar tr td.highlight-plant {
	background: rgb(118, 200, 51);
}
.vs-calendar table.sowing-calendar tr td.highlight-harvest {
	background: rgb(216, 107, 1);
}
@media (max-width:568px) {
	.sowing-calendar thead th:not(.calendar-label), .sowing-calendar tbody td:not(.calendar-label) {
		padding: 0;
		width: 60px;
		text-align: center;
	}

}

/* Sowing calendar end */