
#acf-group_664343b4f3856 {
    /* hide the checkbox */
    input[type=checkbox]{
        display: none !important;
        height: 40px;
        width: 30px;
    }

    /* display list items horizontally */
    ul li {
        display: inline-block;
        line-height: 40px;
        margin-bottom: 10px;
    }

    /* style the (clickable) checkbox label */
    li label {
        display: inline-block !important;
        border-radius: 6px 0 0 6px;
        background: #dddddd;
        height: 40px;
        width: 30px;
        margin-right: -4px;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        /* move the month name across both start/mid month */
        text-indent: 20px;
        word-wrap: normal;
    }

    /* hide the text of the mid month checkbox */
    li:nth-child(2n) label {
        border-radius: 0 6px 6px 0;
        margin-right: 5px;
        height: 40px;
        color: transparent;
        /* make the mid month transparent so can read underlying month name */
        opacity: 50%;
    }

    /* highlight selected month part */
    li label:has(input[type=checkbox]:checked) {
        background: #2AD705;
    }
}
